@font-face {
    font-family: 'caviar';
    src: url('/font/caviar_dreams/CaviarDreams.ttf') ;
}

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


.logo{
    width: 23%;
}
  
.logo a{
    font-weight: 900;
    font-family: 'caviar';
    font-size: 30px;
}

nav{
    width: 100%;
    display: inline-flex;
    background-color: #EBE7E8;
    align-items: center;
    box-shadow: -1px -1px 20px #818181a6;
    margin-bottom: 100px;
}

nav li{
    text-align: center;
    list-style: none;
    padding: 20px;
}

nav li a{
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.catalogoo{
    margin-left: 1100px;
    float: right; 
    align-items: center;
    justify-content: center;
}

.catalogoo a:hover{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #f5c9d0;
    padding-bottom: 15px;
    transition: 0.5s;
}

.cadastrar{
    float: right; 
    align-items: center;
    justify-content: center;
    
}

.cadastrar a:hover{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #f5c9d0;
    padding-bottom: 15px;
    transition: 0.5s;
}

/* Corpo */

main{
    margin-inline: 20px;
}

.produtos img{
    display: block;
    margin: 0 auto;
    height: 250px;
    width: 250px;
    margin-bottom: 20px;
}

section{
    justify-content: center;
    display: flex;
}

.categoria{
    flex-wrap: wrap;
}

.produtos{
    margin-right: 1px;
    border: 1px solid #a1989891;
    flex-wrap: wrap;
    height: 450px;
    width: 290px;
}

.produtos:hover{
    box-shadow: 0px 0px 8px #69696980;
    transform: translateY(-5px);
}

.produtos h1{
    margin-inline: 15px;
    margin-bottom: 20px;
    columns: 100cm 1;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.produtos p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    columns: 100cm 1;
    text-align: center;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 15px;

}

.separar{
    display: flex;
}

.disponivel{
    font-weight: 700;
    background-color: #ffc0cb44;
    color: #eb7186;
    margin-right: 30px;
    border-radius: 15px;
    padding: 5px;
    height: 30px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;

}

.novidade{
    font-weight: 700;
    background-color: #ffc0cb44;
    color: #eb7186;
    border-radius: 15px;
    padding: 5px;
    width: 100px;
    height: 30px;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.produtos button{
    background-color: #000000;
    color: #ffffff;
    width: 150px;
    height: 45px;
    border: none;
    font-size: 15px;
    border-radius: 2px;
    visibility: hidden;
    display: block;
    margin: 0 auto;
}

.produtos:hover .preco {
    display: none;
}

.produtos:hover .parcela {
    display: none;
}

.produtos:hover button{
    visibility: visible;
}

footer{
    margin-top: 150px;
    background-color: #EBE7E8;
}

footer p{
    font-family: 'caviar';
    text-align: center;
    padding: 90px;
}